### final_data.csv

In [4]:
import pandas as pd

banking = pd.read_csv('../data/banking.csv')
greeting = pd.read_csv('../data/greeting.csv', on_bad_lines='skip')
out_of_domain = pd.read_csv('../data/out_of_domain.csv')

In [5]:
finals_data = pd.concat([banking, greeting, out_of_domain], ignore_index=True)

In [6]:
# save the final data
finals_data.to_csv('../data/final_data.csv', index=False)

### data preparation

In [60]:
import pandas as pd

df = pd.read_csv('../data/QA_greeting.csv', on_bad_lines='skip')

In [61]:
df.shape

(1078, 2)

In [56]:
df.head()

,question,answer
0,Who are you,I am a bot created by a student from the Cambo...
1,What do you do,I provide information and assist with queries ...
2,Can you tell me about yourself,I'm a bot developed by a student at the Cambod...
3,Are you a real person,No I am an AI bot created to assist with digit...
4,How can you help me,I can help you understand and navigate the dig...

In [57]:
df.tail()

,question,answer
933,How are you feeling in the middle of the day?,My role is to assist users with the digital la...
934,How’s your mood this afternoon?,My role is to assist users with the digital la...
935,How’s your afternoon been so far?,My role is to assist users with the digital la...
936,Good afternoon! How are things going for you t...,My role is to assist users with the digital la...
937,How are you feeling as the day continues?,My role is to assist users with the digital la...

In [ ]:
# # erase (,) in question column
# df['question'] = df['question'].str.replace(',', '')

In [ ]:
# df.to_csv('../data/greeting2.csv', index=False)

In [49]:
# remove intent
df = df.drop(columns=['intent'])

In [50]:
# create a new column called 'intent' and set it to 'greeting' and all of rows is 'greeting'
df['intent'] = 'banking'

In [51]:
df.to_csv('../data/banking1.csv', index=False)

In [ ]:
df